/** CSS STYLE **/
:root {
  --color-white: #fff;
  --color-white-translucent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-translucent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --color-main-text: var(--color-dark);
  --transition-duration: 0.2s;
}

/* COMMON STYLES HERE */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-main-text);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 60px;
}

.h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.title {
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

.text-primary {
  color: var(--color-primary);
}

.text-white {
  color: var(--color-white);
}

.text-white-50 {
  color: var(--color-white-translucent);
}

.text-dark-50 {
  color: var(--color-dark-translucent);
}

.text-brown {
  color: var(--color-brown);
}

.bg-pattern {
  position: relative;
}

.bg-pattern::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(../assets/images/pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

.bg-light {
  background-color: var(--color-light);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.bg-brown {
  background-color: var(--color-brown);
}

.content {
  column-count: 2;
  column-gap: 30px;
  column-width: 300px;
}

.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}

.btn {
  position: relative;

  padding: 13px 24px;

  text-decoration: none;
}

.btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--color-primary);

  transition: filter var(--transition-duration) linear;

  content: '';
}

.btn:hover::before {
  filter: brightness(0.92);
}

/* COMMON STYLES END */

/* UTILITIES STYLES HERE */

.overflow-hidden {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.mt-n200 {
  margin-top: -200px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-10 {
  padding-left: 10px;
}

.break-avoid {
  break-inside: avoid;
}

.break-before {
  break-before: column;
}

.fs-14 {
  font-size: 14px;
}

.fs-24 {
  font-size: 24px;
}

.fw-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* UTILITIES STYLES END */

/* BLOCKS STYLES HERE */

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  width: auto;
  height: 525px;
}

.main-nav {
  flex-wrap: wrap;

  counter-reset: main-nav-item;
}

.main-nav-title {
  width: 350px;

  font-size: 52px;
}

.main-nav-item {
  box-sizing: border-box;
  width: 350px;
  padding: 24px;

  color: inherit;
  text-decoration: none;

  background-color: var(--color-light);

  transition: var(--transition-duration) linear;
}

.main-nav-item:hover {
  background-color: var(--color-primary);
}

.main-nav-item-title {
  position: relative;

  padding-top: 104px;

  transition: color var(--transition-duration) linear;
}

.main-nav-item-title::before {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--color-primary-dark);
  font-size: 64px;
  line-height: 1;

  transition: color var(--transition-duration) linear;

  content: counter(main-nav-item);
  counter-increment: main-nav-item;
}

.main-nav-item:hover,
.main-nav-item:hover .main-nav-item-title,
.main-nav-item:hover .main-nav-item-title::before {
  color: var(--color-white);
}

.content-image {
  width: 578px;
  height: auto;
}

/* BLOCKS STYLES END */
